<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete School</title>
</head>
<body>
<h1>Delete School</h1>
<form th:action="@{/delete-school}" th:object="${school}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name :</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Delete</button></td>
        </tr>
    </table>
</form>
</body>
</html>